<div class="main-panel">
    <div class="section">
        Playlist id
        <input ng-model="playlistId" size="50">
        <button type="button" class="btn btn-info" ng-click="loadPlaylist()"><span class="fa fa-play"></span></button>
        <button type="button" class="btn btn-info" ng-click="resetPlaylist()"><span class="fa fa-refresh"></span></button>
    </div>

    <div class="section">
        <toggle value="showVideo" icon="'fa-window-maximize'" ng-click="saveSettings()"></toggle>
        <toggle value="shuffle" icon="'fa-random'" ng-click="saveSettings()"></toggle>

        <button type="button" class="vert-section-break btn btn-info PlayButton" ng-click="pausePlaylistItem()">
            <span class="fa fa-pause" ng-class="isPaused() ? 'fa-play' : 'fa-pause'"></span>
        </button>
        <button type="button" class="btn btn-info SkipButton" ng-click="nextPlaylistItem()"><span class="fa fa-forward"></span></button>
    </div>

    <div class="section" ng-show="showVideo">
        <div id="playerDiv"></div>
    </div>

    <div class="section">
        <span ng-repeat="status in getStatus()">{{status}}</span>
    </div>

    <div class="section">
        <span class="span-row" ng-repeat="playlistItem in playlistItems">{{$index}} : {{playlistItem.name}}}}</span>
    </div>
</div>