.main-panel {
  color: blue;
  font-family: Consolas, monaco, monospace;
  font-size: 13px;
  margin-left: 30px;

  .section {
    margin-top: 30px;
  }

  .vert-section-break {
    margin-left: 30px;
  }
}